:root {
  --primary-color: #8a03c8;   
  --white: #ffffff;          
  --black: #000000;           
  --gray-background: #eff0f0; 
  --accordion-bg: #eccbfc;    
  --accordion-border: #d8d5da;
  --font-primary: 'Open Sans', sans-serif;
}

